{:deps {org.clojure/clojure       {:mvn/version "1.10.0"}
        org.clojure/clojurescript {:mvn/version "1.10.516"}
        reagent                   {:mvn/version "0.8.1"}
        clj-commons/secretary     {:mvn/version "1.2.4"}
        cljs-http                 {:mvn/version "0.1.45"}}
 :paths ["src" "resources"]
 :aliases {:fig {:extra-deps
                 {
                  com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                  com.bhauman/figwheel-main       {:mvn/version "0.2.0"}}
                 :extra-paths ["target" "test" "resources"]}
           :build {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
           }}
