@import url('https://rsms.me/inter/inter-ui.css');

body {
  font-family: 'Inter UI', sans-serif;
  font-feature-settings: "ss01";
}

h1, h2 {
  text-align: center;
}

input, button {
  border: 0;
  border-radius: 0.33em;
  box-sizing: border-box;
  font: inherit;
  padding: 0.66em;
}

input {
  border: 1px solid black;
}

button {
  border: 1px solid hsl(215, 80%, 60%);
  background-color: hsl(215, 80%, 60%);
  color: white;
  cursor: pointer;
}

button.fullwidth {
  display: block;
  width: 100%;
}

button:hover {
  background-color: hsl(215, 100%, 45%);
}

button:disabled {
  border: 1px solid hsl(0, 0%, 70%);
  background-color: hsl(0, 0%, 95%);
  color: hsl(0, 0%, 70%);
}

textarea {
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  padding: 0.33em;
  resize: none;
  width: 100%;
}

textarea.comment {
  height: 7em;
  margin: 1em 0;
}

.panel {
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: repeat(5, 15em);
  grid-template-rows: 7em auto auto;
  justify-content: center;
}

.score {
  background-color: hsl(0, 0%, 95%);
  border-radius: 50%;
  color: hsl(0, 0%, 70%);
  display: inline;
  font-size: 30px;
  height: 2em;
  justify-self: center;
  line-height: 2em;
  text-align: center;
  transition-duration: 0.2s;
  transition-property: color, background-color;
  width: 2em;
}

.s0 {
  background-color: hsl(0, 80%, 80%);
  color: hsl(0, 80%, 30%);
}
.s1 {
  background-color: hsl(30, 80%, 80%);
  color: hsl(30, 80%, 30%);
}
.s2 {
  background-color: hsl(60, 80%, 80%);
  color: hsl(60, 80%, 30%);
}
.s3 {
  background-color: hsl(90, 80%, 80%);
  color: hsl(90, 80%, 30%);
}
.s4 {
  background-color: hsl(120, 80%, 80%);
  color: hsl(120, 80%, 30%);
}

.description {
  hyphens: auto;
  text-align: justify;
  text-justify: inter-word;
}

.clickable {
  cursor: pointer;
}

.center {
  text-align: center;
}

div.center {
  margin-top: 30vh;
}

.emoji {
  font-size: 100px;
  margin: 0.3em;
}

.register {
  text-align: center;
}

.smaller {
  font-size: smaller;
}

.narrow {
  width: 25em;
  margin: auto;
}

.respondents {
  width: 100%;
}

p.label {
  margin-bottom: 0.2em;
}

.link {
  background-color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 70%);
  font-size: smaller;
  margin: 0;
  padding: 1em;
}

.link a, .link a:active, .link a:hover {
  color: black;
}

.adminlink {
  background-color: hsl(0, 80%, 90%);
  border: 1px solid hsl(8, 50%,50%);
  color: hsl(8, 80%, 30%);
}

.user {
  border-radius: 50vh;
  border: 1px solid hsl(215, 80%, 60%);
  color: hsl(215, 80%, 60%);
  display: inline-block;
  margin: .2em;
  padding: .3em .5em;
}

p.comment {
  color: hsl(215, 80%, 60%);
  margin: 0.6em 0;
}

.summary {
  border-spacing: .5em;
}

.bar {
  display: inline-block;
  padding: .2em;
  text-align: right;
}

.summaries {
  display: flex;
  justify-content: center;
}

.summaries h2 {
  text-align: initial;
}

.summaries div {
  margin: 0 5em;
}
